.score-sorter > a > h4 {
  text-align: center;
  padding-bottom: 10px;
}

.score-sorter .score-card {
  cursor: pointer;
}

.score-card img {
  height: 80px;
  padding-right: 18px;
  display: inline-block;
  vertical-align: top;
}

.point-editor {
  float: right;
  padding: 15px;
  display: flex;
}

.point-editor-number {
  padding: 0 10px;
  font-size: 20px;
}

.score-card-player-details {
  display: inline-block;
}

.score-card-player-details > h4 {
  padding: 10px 0;
  margin: 0;
}

.match-card-completed {
  border: 2px solid #4CAF50 !important;
}
