.score-sorter > a > h4 {
  text-align: center;
  padding-bottom: 5px;
}

.score-sorter .score-card {
  cursor: pointer;
}

.score-card img {
  height: 80px;
  padding-right: 18px;
  display: inline-block;
  vertical-align: top;
}

.point-editor {
  margin: 0px 5px;
  display: flex;
}

.point-editor-number {
  padding: 0 10px;
  font-size: 20px;
}

.score-card-player-details {
  display: inline-block;
}

.score-card-player-details > .player-name {
  font-size: 20px;
  margin: 5px;
}

.score-card-player-details > .point-display {
  margin: 0px 5px;
}

.match-card-completed {
  border: 2px solid #4CAF50 !important;
}
