.score-sorter > h4 {
  text-align: center;
  padding-bottom: 10px;
}

.score-card {
  cursor: pointer;
}

.score-card img {
  height: 80px;
  padding-right: 18px;
  display: inline-block;
  vertical-align: top;
}

.score-card-player-details {
  display: inline-block;
}

.score-card-player-details > h4 {
  padding: 10px 0;
  margin: 0;
}
