img.game-avatar {
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  padding-right: 10px;
  margin-bottom: 6px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
